<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= folder.name %></title>
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/item.css">
</head>

<body>
  <div class="actions">
    <a class="button" href="/logout">Logout</a>
  </div>
  <h2><%= folder.name %></h2>
  <div class="actions">
    <a class="button" href="/create/<%= folder.id %>/subfolder">Create subfolder</a>
    <% if (!folder.parentId) { %>
      <a class="button" href="/">Back to Folders</a>
    <% } else { %>
      <a class="button" href="/folder/<%= folder.parentId %>">Back to parent</a>
    <% } %>
  </div>
  
  <div class="list">
    <% if (folder.subfolders?.length !== 0) { %>
    <% folder.subfolders.forEach( subfolder => { %>
    <%- include('folder-item', { folder: subfolder }); %>
    <% }); %>
    <% } %>
    <% if (folder.files?.length !== 0) { %>
    <% folder.files.forEach( file => { %>
    <%- include('file-item', { file: file }); %>
    <% }); %>
    <% } %>
    <% if (folder.subfolders?.length == 0 && folder.files?.length == 0) { %>
    <div>Empty.</div>
    <% } %>
  </div>


</body>

</html>